<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
</head>
<body>
    <header>
        <h2 class="logo">LOGO</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    <a href="/signup" class="button">Signup</a>
    <a href="/signin" class="button">Signin</a>
    <a href="/signout" class="button">Signout</a>
</body>
</html>
